# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
news-crawler/.idea/dictionaries/kivid.xml
news-crawler/.idea/misc.xml
news-crawler/.idea/modules.xml
news-crawler/.idea/news-crawler.iml
news-crawler/.idea/workspace.xml
engine/.idea/dictionaries/kivid.xml
engine/.idea/libraries/lucene_analyzers_common_7_1_0.xml
engine/.idea/libraries/lucene_core_7_1_0.xml
engine/.idea/libraries/lucene_demo_7_1_0.xml
engine/.idea/libraries/lucene_queryparser_7_1_0.xml
engine/.idea/misc.xml
engine/.idea/modules.xml
engine/.idea/workspace.xml
engine/engine.iml
engine/src/testLucene/cez.java
engine/src/testLucene/old.java
engine/.idea/uiDesigner.xml
.idea/workspace.xml
.idea/misc.xml
.idea/news-SE.iml
.idea/modules.xml
engine/.idea/engine.iml
.idea/vcs.xml
